extends layout
block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | So, This is my first website using full stack development.
        | <br /><br />
        | I have made this app using mean stack,which comprises of,
        |<br />
        |Mongodb,AngularJs,NodeJs,ExpressJs.
        |<br />
        |So, about me... I am Arjun Ahuja,a second year UG student,
        |of IIT Hyderabad pursuing Computer Science and engineering.
